@font-face {
  font-family: "Muller";
  src: url('../fonts/MullerLight.woff2') format('woff2'),
    url('../fonts/MullerLight.woff') format('woff');
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Muller";
  src: url('../fonts/MullerRegular.woff2') format('woff2'),
    url('../fonts/MullerRegular.woff') format('woff');
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerBold.woff2') format('woff2'),
    url('../fonts/MullerBold.woff') format('woff');
  font-display: swap;
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerMedium.woff2') format('woff2'),
    url('../fonts/MullerMedium.woff') format('woff');
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Muller', sans-serif;
  background-color: #f1f1f1;
}

a {
  color: inherit;
  text-decoration: none;
}

*{
  margin: 0px;
  padding: 0px;
}

textarea{
  width: 340px;
  height: 110px;
  border-radius: 12px;
  background-color: #ffffff;
  border-color: #ffffff;
}

textarea::placeholder{
  padding-left: 20px;
  color: #999999;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 32px;
  text-align: left;
}

fieldset{
  border: none;
}

button{
  transition: transform .3s;
}

button:hover{
  transform: translateY(10px);
}

.section-reservation{
  padding-top: 35px;
  padding-bottom: 35px;
}

.header{
  padding-bottom: 37px;
}

.section-about{
  padding-top: 35px;
  padding-bottom: 35px;
}

.section-about-text{
  max-width: 888px;
  min-height: 176px;
  margin-left: 43px;
  color: #666666;

  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 32px;
}

.section-services{
  padding-top: 35px;
  padding-bottom: 35px;
}

.section-advantages{
  padding-top: 35px;
  padding-bottom: 35px;
}

.section-places{
  padding-top: 35px;
  padding-bottom: 35px;
}

.navbar-search-button{
  width: 22px;
  height: 22px;
  margin-left: -42px;
  background-image: url("../img/search.png");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: contain;
  border-color: transparent;
}

.navbar-search{
  display: block;
  width: 355px;
  margin-left: 124px;
  min-height: 48px;
  padding-left: 21px;
  border-radius: 15px;
  border-color: transparent;
  background-color: #f1f1f1;
  color: #bebebe;

  font-size: 14px;
  font-weight: 400;
  line-height: 32px;
}

.special-offer-show{
  width: 595px;
  min-height: 540px;
  background-image: url("../img/22.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.section-services-img{
  display: block;
}

.more-hotels{
  position: relative;
  width: 373px;
  min-height: 441px;
  border-radius: 10px;
  background-image: url("../img/41.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.container{
  max-width: 1200px;
	margin-right: auto;
	margin-left: auto;
}

.hat{
  width: 1168px;
  display: flex;
  padding-top: 30px;
  margin-bottom: 30px;
  align-items: center;
  list-style: none;
}

.phone-number{
  margin-right: 548px;
  margin-left: 25px;
  color: #666666;
  text-decoration: none;
  font-size: 22px;
  font-weight: 700;
  line-height: 32px;
}

.find-hotel-room{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo{
  display: inline-block;
  transition: transform, .4s;
}

.logo:hover{
  transform: scale(0.9, 0.9);
}

.cab{
  margin-left: auto;
  color: #cc9933;

  font-size: 16px;
  font-weight: 500;
  line-height: 32px;
  text-align: left;
}

.navbar{
  display: flex;
  width: 1168px;
  min-height: 70px;
  border-radius: 12px;
  align-items: center;
  background-color: #ffffff;

}

.phone-number, .cab, .special-offer-more-info, .section-places-more-places{
  transition: font-size .3s ease-in-out;
}

.phone-number:hover{
  font-size: 24px;
}

.section-places-more-places:hover{
  font-size: 24px;
}

.cab:hover{
  font-size: 18px;
}

.special-offer-more-info:hover{
  font-size: 18px;
}

.navbar-list{
  display: flex;
  padding-left: 21px;
  list-style: none;

}

.navbar-list-item:not(:last-child){
  margin-right: 45px;
}

.navbar-list-item{
  color: #333333;

  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 32px;
  text-align: left;
}

.list-item-link{
  text-decoration: none;
}

.item-description{
  color: #333333;

  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 32px;
  text-align: left;
}

.main-subheading{
  margin-bottom: 23px;
  padding-left: 44px;
  color: #333333;

  font-size: 40px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
}

.reservation-container{
  display: flex;
}

.section-reservation-form{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.reservation-form-input{
  min-width: 518px;
  min-height: 70px;
  padding-left: 21px;
  margin-bottom: 24px;
  color: #999999;
  border-radius: 12px;
  border-color: transparent;

  font-size: 16px;
  font-weight: 400;
}

.special-offer-show-heading{
  max-width: 321px;
  padding-left: 40px;
  padding-top: 265px;
  color: #ffffff;

  font-size: 66px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 58px;
  text-align: left;
}

.special-offer-price{
  display: inline-block;
  padding-left: 42px;
  margin-top: 43px;
  opacity: 0.49;
  color: #ffffff;

  font-size: 35px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 32px;
  text-align: left;
}

.special-offer-more-info{
  width: 100px;
  margin-left: 43px;
  padding-right: 14px;
  color: #ffcc66;

  font-size: 16px;
  font-weight: 400;
  background-image: url('../img/arrow-right.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right center;
}

.find-number-btn{
  width: 159px;
  min-height: 70px;
  border-radius: 12px;
  border-color:  transparent;
  background-color: #cc9933;
  color: #ffffff;

  font-size: 16px;
  font-weight: 400;
}

.special-offer{
  min-height: 540px;
  margin-left: 55px;
}

.section-advantages-list{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
.section-advantages-list li:not(:nth-child(4n)){
  margin-bottom: 29px;
  margin-right: 25px;
}

.advantage-card-description{
  padding: 123px 44px 40px 44px;
  color: #333333;

  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 32px;
  text-align: left;
}

.section-services-list{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.service-card{
  width: 572px;

  overflow: hidden;
  min-height: 325px;
  border-radius: 12px;
  border-color: transparent;
  background-color: #ffffff;
}

.service-card:not(:nth-child(2n)){
  margin-right: 24px;
}

.service-card:not(:nth-last-child(-n+2)){
  margin-bottom: 24px;
}

.service-card-heading{
  min-width: 264px;
  color: #cc9933;

  font-size: 22px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 32px;
  text-align: left;
}

.service-card-heading-link{
  position: relative;
  padding-right: 22px;
  background-image: url('../img/arrow-right.png');
  background-repeat: no-repeat;
  background-size: 8px 15px;
  background-position: right center;
}

.service-card-heading-link::after{
  display: block;
	position: absolute;
	left: 0;
	width: 0;
	height: 1px;
	background-color: #cc9933;;
	content: "";
	transition: width 0.3s ease-out;

}

.service-card-heading-link:hover::after{
  width: 100%;
}

.section-services-description{
  padding: 36px 45px 40px 45px;
}

.section-places-list{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.section-places-hotels{
  display: inline-block;
}

.place-card-description{
  display: flex;
  padding-left: 44px;
  padding-top: 36px;
  flex-wrap: wrap;
  width: 373px;
  min-height: 217px;
}

.advantage-card{
  width: 275px;
  background-color: #ffffff;
  border-radius: 12px;
  border-color: transparent;
  min-height: 275px;
  background-size: 63px 59px;
  background-repeat: no-repeat;
  background-position: 44px 44px;
}


.place-card-price:before{
  content: "\00a0 ";
}

.place-card-night:before{
  content: "\00a0 ";
}

.place-card-position{
  width: 100%;
  color: #999999;

  font-weight: 400;
}

.place-card-rating{
  padding-top: 4px;
  padding-left: 33px;
}

.place-card-min-txt{
  color: #969696;

  font-weight: 400;
}

.place-card-price{

  font-size: 22px;
  font-weight: 700;
}

.place-card-night{

  font-weight: 400;
}

.place-card-name{
  width: 100%;
  font-weight: 400;
}

.place-card:not(:nth-last-child(-n+3)){
  margin-bottom: 25px;
}

.place-card:not(:nth-child(3n)){
  margin-right: 25px;
}

.place-card{
  width: 373px;
  overflow: hidden;
  background-color: #ffffff;
  border-radius: 12px;
  border-color: #ffffff;
}

.section-places-hotel-rooms{
  width: 100px;
  height: 41px;
  padding-top: 9px;
  color: #cc9933;
  font-size: 16px;
  border-radius: 12px;
  border: 1px solid #cc9933;
  text-align: center;
  transition-property: background-color, color;
  transition-duration: 499ms;
  transition-timing-function: ease;
}

.section-places-hotel-rooms:hover{
  background-color: #cc9933;
  color: white;
}

.section-places-more-places{
  padding-right: 14px;
  color: #ffffff;
  font-size: 22px;
  font-weight: 400;
  background-image: url('../img/arrow_right_white.png');
  background-repeat: no-repeat;
  background-size: 8px 14px;
  background-position: right center;
}

.section-places-more-places::before{
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

}

.section-places-more-places-heading{
  padding-top: 368px;
  padding-left: 39px;
}

.place-img{
  display: block;
}

/* contacts */
.section-contacts{
  padding-top: 35px;
}

.contacts-container{
  display: flex;
}

.contacts-list{
  display: flex;
  list-style: none;
  flex-direction: column;
}

.contacts-list{
  padding: 47px 44px 44px 44px;
  width: 472px;
  min-height: 619px;
  background-color: #ffffff;
  border-radius: 12px;
}

.contacts-list-item:not(:last-child){
  padding-bottom: 26px;
  margin-bottom: 26px;
  border-bottom: 1px solid #cccccc;
}



.contacts-list-item{
  display: flex;
}

.phone-numbers-div{
  display: flex;
  flex-direction: column;
}

.emails-div{
  display: flex;
  flex-direction: column;
}

.contacts-list-item-heading{
  color: #666666;

  font-size: 22px;
  font-weight: 700;
}

.adress{
  max-width: 226px;
  min-height: 40px;
  padding-left: 79px;
  color: #333333;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.contacts-phone-number{
  padding-left: 39px;
  color: #cc9933;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 24px;
  text-align: left;
  transition-property: color;
  transition-duration: 400ms;
  transition-timing-function: ease;
}

.contacts-phone-number:hover{
  color: #8f6b24;
}

.contacts-email{

  font-size: 16px;
  padding-left: 91px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 24px;
  text-align: left;
}

.contacts-email-link{
  color: #cc9933;
  transition-property: color;
  transition-duration: 600ms;
  transition-timing-function: ease;
}

.contacts-email-link:hover{
  color: #8f6b24;
}

.schedule{
  /* Можно было задать одинаковые классы с адресом но для разметки я не знал как их можно было описать так что дал разные классы */
  max-width: 260px;
  padding-left: 68px;
  color: #333333;

  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.contacts-route-button{
  min-width: 214px;
  max-height: 70px;
  margin-top: 27px;
  padding: 19px 31px 27px 29px;
  background-color: #ffffff;
  color: #cc9933;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 32px;
  text-align: center;
  border-radius: 12px;
  border: 1px solid #cc9933;
  transition-property: background-color, color, transform;
  transition-duration: 450ms;
  transition-timing-function: ease;
}

.contacts-route-button:hover{
  color: white;
  background-color: #cc9933;
  transform: translateY(-5px)
}

.contact-form{
  display: flex;
  margin-top: 131px;
  margin-left: 178px;
  flex-direction: column;
}

.input{
  width: 340px;
  height: 70px;
  margin-bottom: 23px;
  border-radius: 12px;
  background-color: #ffffff;
  border: 1px solid #ffffff;
}

.input::placeholder{
  padding-left: 20px;
  color: #999999;

  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 32px;
  text-align: left;
}

.submit-contact-form{
  min-width: 340px;
  min-height: 70px;
  margin-top: 22px;
  border-radius: 12px;
  background-color: #cc9933;
  border-color: transparent;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 32px;
  text-align: center;
  transition-property: background-color, color, transform;
  transition-duration: 450ms;
  transition-timing-function: ease;
}

.submit-contact-form:hover{
  background-color: #333333;
  color: #cc9933;
  transform: translateY(-5px);
}

.contact-us-heading{
  padding-left: 34px;
  padding-bottom: 30px;
}

.contact-form-inputs-list{
  list-style: none;
}

/* footer */
.footer{
  padding-top: 35px;
  min-height: 383px;
}

.footer-container{
  display: flex;
  min-height: 383px;
  border-radius: 12px;
  background-color: #333333;
}

.copyright{
  max-width: 297px;
  padding-top: 49px;
  margin-left: 52px;
}

.website-info{
  margin-top: 48px;
  margin-bottom: 48px;
}

.copyright p{
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
}

.privacy-policy{
  color: #cc9933;
}

.more-contact-info{
  min-width: 357px;
  min-height: 168px;
  margin-left: 125px;
  margin-top: 49px;
}

.more-contact-info .adress{
  padding: 0;
  max-width: 357px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
}

.more-contact-info .contacts-phone-number{
  padding: 0px;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
}

.contacts-phone-number-div{
  display: flex;
  margin-top: 40px;
  flex-direction: column;
}

.more-contact-info .contacts-email-link{
  padding: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
}

.contacts-email-link-div{
  display: flex;
  margin-top: 37px;
  flex-direction: column;
}

.footer-logo{
  width: 258px;
  height: 228px;
  margin-top: 154px;
  margin-left: -83px;
}

.social-links{
  display: flex;
  margin-left: auto;
  margin-right: 52px;
  margin-top: 48px;
  flex-direction: column;
  list-style: none;
}

.social-links-item:not(:last-child){
  margin-bottom: 21px;
}

.social-links-item-link img{
  transition: transform 350ms ease-in-out;
}

.social-links-item-link img:hover{
  transform: scale(1.15, 1.15);
}
